altair
argon2-cffi
astor
attrs
backcall
base58
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
debugpy
decorator
defusedxml
entrypoints
gitdb
GitPython
htbuilder
idna
ipykernel
ipython
ipython-genutils
ipywidgets
iteration-utilities
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
lxml
MarkupSafe
matplotlib-inline
mistune
multitasking
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
#pywin32
#pywinpty
pyzmq
requests
Send2Trash
six
smmap
streamlit
terminado
testpath
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
yfinance
